* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
  
}

.input-group {
  margin: 10px ;
  
}

.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}

.input-group input {
  height: 30px;
  width: 93%;
  padding: 2px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

input[type="radio"] {
  margin-right: 5px;
}

input:focus{
  background: #DCEDC8;
}

.gender{
  word-spacing: 60px;
}

.button{
  font-size: 20px;
  padding: 10px;
  margin-top: 15px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 155px;
  background-color: #5F9EA0;
}



